<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>

<h2>Connexion</h2>

<form th:action="@{/login}" method="post">

    <div>
        <label>Username :</label>
        <input type="text" name="username" placeholder="Entrer username"/>
    </div>

    <div>
        <label>Password :</label>
        <input type="password" name="password" placeholder="Entrer password"/>
    </div>

    <div>
        <button type="submit">Se connecter</button>
    </div>

</form>

</body>
</html>